@layer components {
  .steps {
    &:first-child {
      @apply mt-0!;
    }

    &:first-child > h3:first-child {
      @apply mt-0!;
    }

    > h3 {
      @apply mt-16!;
    }

    > h3 + p {
      @apply mt-2!;
    }
  }

  [data-rehype-pretty-code-figure] {
    @apply relative mt-6 overflow-hidden [-webkit-font-smoothing:antialiased] [-moz-osx-font-smoothing:grayscale] text-sm text-code-foreground outline-none bg-code border-border border rounded-4xl;
    :where(*[data-tab="code"]) & {
      border-width: 0;
    }
  }

  [data-rehype-pretty-code-figure][data-ring-only] {
    @apply border-0 ring-1 ring-border/80;
  }

  [data-rehype-pretty-code-figure] > pre {
    @apply relative;
  }

  [data-rehype-pretty-code-title] {
    @apply min-h-11 py-2.5 px-4 font-mono font-medium text-sm tracking-tight text-code-foreground border-b border-b-border/64;
  }

  [data-line-numbers] {
    @apply grid min-w-full whitespace-pre border-0 bg-transparent p-0 [counter-reset:line] box-decoration-clone;
  }

  [data-line-numbers] [data-line]::before {
    @apply sticky font-medium [counter-increment:line] content-[counter(line)] bg-popover/70 text-muted-foreground backdrop-blur-2xl backdrop-saturate-150 left-0 inline-block w-16 pr-6 text-sm tabular-nums align-top text-right;
  }

  [data-line-numbers] [data-highlighted-line][data-line]::before {
    @apply bg-code-highlight backdrop-blur-2xl backdrop-saturate-150;
  }

  [data-line] {
    @apply inline-block w-full min-h-1 pt-px pb-px;
  }

  [data-line] span {
    color: var(--shiki-light);

    @variant dark {
      color: var(--shiki-dark) !important;
    }
  }

  [data-highlighted-line],
  [data-highlighted-chars] {
    @apply relative rounded-none bg-code-highlight;
  }

  [data-highlighted-line] {
    &:after {
      @apply absolute top-0 left-0 w-0.5 h-full content-[''] rounded-full bg-muted-foreground/50;
    }
  }

  [data-highlighted-chars] {
    @apply py-[0.1rem] px-[0.3rem] rounded-sm font-mono text-xs;
    box-shadow: 0 0 0 1px
      color-mix(in oklab, var(--color-primary) 18%, transparent);
  }

  .highlighted-word {
    position: relative;
    padding: 0;

    &::before {
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      pointer-events: none;
      content: "";
      border-radius: var(--radius-sm);
      box-shadow: 0 0 0 1px
        color-mix(in oklab, var(--color-ring) 35%, transparent);
    }

    + .highlighted-word {
      &::before {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &:has(+ .highlighted-word) {
      &::before {
        right: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
[data-rehype-pretty-code-figure] [data-slot="scroll-area-viewport"],
[data-rehype-pretty-code-figure] [data-slot="scroll-area-viewport"] > div {
  @apply bg-code!;
}

pre:has(> code[data-line-numbers]) {
  @apply bg-code!;
}

code[data-line-numbers] {
  @apply bg-code!;
}
